body {
	max-width: 1536px;
	margin: auto;
	font-family: "Helvetica", "Arial Black", sans-serif;
}

progress {
	height: 30px;

	/*font-size: 12px;
	overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
	text-align: center;*/
}

#sort-progress { display: block; margin-bottom: 24px; width: 100%; }
#sort-select {
	margin: auto;
	margin-bottom: 6px;
}

#sort-select .unit-name, #character-slot .character-spacing { margin-top: 12px; }
#sort-select .btn { font-size: 18px; font-weight: bold; white-space: normal; }
#sort-select img { width: 140px !important; height: 140px; }
#sort-select #middle-field
{
	margin-left: 3%;
	margin-right: 3%;
}
#sort-select #middle-field button { height: 100%; white-space: normal; }

.results-field .character-spacing {
	width: 140px;
	height: 140px;
}

.results-field-extended .character-spacing {
	width: 100px;
	height: 100px;
}

.character-slot {
	padding: 12px 0px;

	border: 1px solid #e7e7e7;
	background-color: #f8f8f8;

	font-weight: bold;
	white-space: nowrap;
}
.results-field #character-slot { font-size: 20px; }
.results-field, .results-field-extended { text-align: center; }

.results-field {
	display: grid;
    grid-auto-rows: minmax(176px, auto);
    grid-template-columns: repeat(auto-fill, 210px);
    padding: 0;
    margin: 10px 0;
    contain: content;
}

.results-field-extended {
	display: grid;
    grid-auto-rows: minmax(176px, auto);
    grid-template-columns: repeat(auto-fill, 170px);
    padding: 0;
    margin: 10px 0;
    contain: content;
}

#sort-results {
	padding: 8px 20px;
}

#credits {
	position: fixed;

	right: 1%;
	bottom: 1%;
}

/* dialog-polyfill */
dialog {
	position: absolute;
	left: 0; right: 0;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
	margin: auto;
	border: solid;
	padding: 1em;
	background: white;
	color: black;
	display: block;
  }
  
  dialog:not([open]) {
	display: none;
  }
  
  dialog + .backdrop {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,0.1);
  }
  
  ._dialog_overlay {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
  }
  
  dialog.fixed {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
  }
